<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyu.framework.modules.auth.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haoyu.framework.modules.auth.entity.Role">
        <result column="ID" property="id" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="IS_DELETED" property="isDeleted" />
        <result column="VERSION" property="version" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="NOTE" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        CREATE_TIME,
        UPDATE_TIME,
        IS_DELETED,
        VERSION,
        CREATE_USER,
        UPDATE_USER,
        NAME, CODE, NOTE
    </sql>


    <sql id="BaseSelectSql">
        select
        t.ID,t.CREATE_TIME,t.UPDATE_TIME,t.IS_DELETED,t.VERSION,t.CREATE_USER,t.UPDATE_USER
        ,t.NAME,t.CODE,t.NOTE
        from ipanther_role t
    </sql>

    <sql id="BaseWhereSql">
        <where>
            <choose>
                <when test="cm.isDeleted != null and cm.isDeleted != ''">
                    and t.IS_DELETED = #{cm.isDeleted}
                </when>
                <otherwise>
                    and t.IS_DELETED = 'N'
                </otherwise>
            </choose>
            <if test="cm.ids != null">
                and t.ID in
                <foreach collection="cm.ids" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="cm.name != null and cm.name != ''">
                <!--and t.NAME = #{cm.name}-->
                and t.NAME like concat(concat('%',#{cm.name,jdbcType=VARCHAR}),'%')
            </if>
            <if test="cm.code != null and cm.code != ''">
                <!--and t.CODE = #{cm.code}-->
                and t.CODE like concat(concat('%',#{cm.code,jdbcType=VARCHAR}),'%')
            </if>
            <if test="cm.note != null and cm.note != ''">
                and t.NOTE = #{cm.note}
            </if>
            <if test="cm.userId !=null and cm.userId!=''">
                and t.id in (select ru.role_id from IPANTHER_USER_ROLE ru where ru.user_id=#{cm.userId,jdbcType=VARCHAR})
            </if>
        </where>
    </sql>

    <!-- 根据ID查询单条记录，用于灵活编写复杂SQL, 如子查询、关联查询等，如果是模块简单只需要单表，则调用mybatis plus自带的selectById -->
    <select id="selectByEntityId" resultMap="BaseResultMap" parameterType="java.lang.String">
        <include refid="BaseSelectSql" />
        where t.ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByMap" resultMap="BaseResultMap">
        <include refid="BaseSelectSql" />
        <include refid="BaseWhereSql" />
        order by t.code , t.id
    </select>

</mapper>
