<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoyu.framework.modules.file.mapper.FileInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haoyu.framework.modules.file.entity.FileInfo">
        <result column="ID" property="id" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="VERSION" property="version" />
        <result column="IS_DELETED" property="isDeleted" />
        <result column="FILE_NAME" property="fileName" />
        <result column="URL" property="url" />
        <result column="STATE" property="state" />
        <result column="FILE_SIZE" property="fileSize" />
        <result column="GROUP_NAME" property="groupName" />
        <result column="REMARK" property="remark" />
        <result column="FILE_RESOURCE_ID" property="fileResourceId" />

        <result column="file_id" property="fileRelation.fileId" />
        <result column="relation_id" property="fileRelation.relationId" />
        <result column="relation_type" property="fileRelation.type" />
    </resultMap>

    <sql id="BaseSelectSql">
        select
        t.ID,t.CREATE_USER,t.CREATE_TIME,t.UPDATE_USER,t.UPDATE_TIME,t.VERSION,t.IS_DELETED
        ,t.FILE_NAME,t.URL,t.STATE,t.FILE_SIZE,t.GROUP_NAME,t.REMARK,t.FILE_RESOURCE_ID,
        fr.relation_id, fr.type relation_type, fr.file_id
        from file_info t
        join file_relation fr on fr.FILE_ID = t.ID and fr.IS_DELETED = 'N'
    </sql>

    <sql id="BaseWhereSql">
        <where>
            <choose>
                <when test="cm.isDeleted != null and cm.isDeleted != ''">
                    and t.IS_DELETED = #{cm.isDeleted}
                </when>
                <otherwise>
                    and t.IS_DELETED = 'N'
                </otherwise>
            </choose>
            <if test="cm.ids != null">
                and t.ID in
                <foreach collection="cm.ids" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="cm.state != null and cm.state != ''">
                and t.STATE = #{cm.state}
            </if>
            <if test="cm.relationId != null and cm.relationId != ''">
                and FR.RELATION_ID = #{cm.relationId}
            </if>
            <if test="cm.relationType != null and cm.relationType != ''">
                and FR.TYPE = #{cm.relationType}
            </if>
        </where>
    </sql>

    <select id="getByEntityId" resultMap="BaseResultMap" parameterType="java.lang.String">
        <include refid="BaseSelectSql" />
        where t.ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByMap" resultMap="BaseResultMap">
        <include refid="BaseSelectSql" />
        <include refid="BaseWhereSql" />
    </select>
</mapper>
